$category-width: 250px;
$amount-width: 100px;
$date-width: 46px;
$actions-width: 56px;
$actions-width-compact: 23px;
$payment-methods-width: 140px;

.history-row {
  border: 1px solid transparent;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  &--highlighted {
    background: #f8f8f8;
    border-color: #dfdfdf;
    padding: 2px 0;

    + & {
      border-top-color: transparent;
    }
  }

  &--date &__date {
    font-weight: bold;
    font-size: 13px;
    padding: 9px 5px 3px;
  }

  &--year {
    text-align: center;
  }

  &--date &__year {
    font-size: 16px;
  }

  &__date {
    white-space: nowrap;
    width: $date-width;
  }

  &__actions {
    width: $actions-width;
    padding-top: 0;
    vertical-align: top;
    text-align: right;
    float: right;

    .fa {
      opacity: 0.5;
      cursor: pointer;
      text-decoration: none !important;
      color: inherit;
    }

    .fa-close {
      padding: 2px 0 0;
      border: 0;
      margin-left: 10px;
      font-size: 19px;
      line-height: 20px;

      &.active {
        color: #f00;
        opacity: 1;
      }
    }
  }

  &__category {
    left: -$category-width -$payment-methods-width;
    width: $category-width;
    margin-right: -$category-width;
  }

  &__payment-methods {
    width: $payment-methods-width;
    margin-left: $category-width;

    &--transfer {
      &:after {
        margin-top: -10px;
        top: 50%;
        left: -15px;
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        background-size: contain;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAb1BMV…/UsIgPmiN34aR9I32jckFeZMliB8AIYQvACRpgizII2wtgvgVSqkkuKAAAAABJRU5ErkJggg==);
      }
    }
  }

  &__payment-method {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  &__amounts {
    width: $amount-width;
    text-align: right;
  }

  &__amount {
    color: #1f8c22;
    display: block;

    &--expense {
      color: #c30000;
    }
  }

  &__action-confirm {
    float: none;
    color: #f00;
    text-align: right;
    font-size: 10px;
  }
}
