.date-group {
  display: inline-block;
  position: relative;

  .date-setnow {
    cursor: pointer;
    color: #158cba;
    bottom: 15px;
    position: absolute;
    right: 0;
    font-size: 12px;
    line-height: normal;
    width: 44px;
    text-align: center;
    text-decoration: underline;
  }

  .dropdown-menu {
    .btn-default {
      border-width: 0;
      border-radius: 0;
    }

    em {
      font-size: 9px;
    }
  }

  > * {
    display: inline-block;
  }

  .form-control {
    display: inline-block;
    width: 32px;

    &.date {
      width: 76px;
      text-align: right;
    }
  }

  .time-group {
    vertical-align: middle;
    text-align: center;

    tr:first-of-type, tr:last-of-type {
      line-height: 35px;
    }

    .form-control {
      text-align: center;
    }

    .uib-separator {
      padding-bottom: 5px;
      height: 38px;
    }

    .btn-outline-primary {
      color: #555;
      background-color: #eee;
      border-color: #e2e2e2;

      &:hover {

      }
    }
  }

  div.ngb-tp-spacer {
    width: 0.5em;
  }

  ngb-datepicker {
    &:focus {
      outline: none;
    }

    border: 1px solid #e7e7e7;
    border-width: 1px 1px 4px;
    background: #f8f8f8;
    margin-left: -10px;

    .d-flex {
      display: flex;
    }

    .ngb-dp-day, .ngb-dp-weekday {
      flex: 1 1 0;
      width: auto;
      height: auto;
    }

    .bg-primary {
      color: #fff;
      background-color: #158cba !important;
    }

    .btn-light {
      padding: 0 10px;
      line-height: 28px;
      width: auto;
      height: auto;
    }

    .ngb-dp-weekday {
      font-weight: 600;
      font-style: normal;
      text-align: center;
      line-height: 28px;
      font-size: 14px;
      color: inherit;
    }

    .ngb-dp-header {
      margin-bottom: -10px;
      border-bottom: none;
    }

    .ngb-dp-month-name {
      font-weight: 600;
      font-style: normal;
      text-align: center;
      font-size: 18px;
      line-height: 34px;
      height: auto;
    }

    &-navigation {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
      height: auto;

      .btn-link {
        padding: 10px;
      }
    }
  }
}
