<div class="charts" *ngIf="hasChart()">
  <h3>Динамика остатков за {{startOfMonth | amDateFormat:'MMMM YYYY'}}</h3>
  <div class="row">
    <div class="col-md-6" *ngFor="let item of balanceChart">
      <h4>{{item.currency}}</h4>
      <canvas baseChart
              class="chart"
              chartType="line"
              [labels]="item.chartData.labels"
              [options]="item.chartData.options"
              [data]="item.chartData.data"
              [colors]="item.chartData.colors"
              [datasets]="item.chartData.datasets"></canvas>
    </div>
  </div>
</div>