<nav class="navbar navbar-expand-lg navbar-inverse navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Транжира</span>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li [routerLinkActive]="['active']" class="nav-item main-menu__tab main-menu__tab--operations">
        <a class="nav-link" routerLink="/operations">Операции</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item main-menu__tab main-menu__tab--categories">
        <a class="nav-link" routerLink="/categories">Категории</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item main-menu__tab main-menu__tab--income-categories">
        <a class="nav-link" routerLink="/income-categories">Источники</a>
      </li>
      <li class="nav-item dropdown main-menu__tab main-menu__tab--dropdown main-menu__tab--management">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Управление счетами <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li [routerLinkActive]="['active']" class="dropdown-item main-menu__tab main-menu__tab--payment-methods">
            <a routerLink="/payment-methods">Счета</a>
          </li>
          <li [routerLinkActive]="['active']" class="dropdown-item main-menu__tab main-menu__tab--limits">
            <a routerLink="/limits">Лимиты</a>
          </li>
        </ul>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item main-menu__tab main-menu__tab--charts">
        <a class="nav-link" routerLink="/charts">Отчеты</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item main-menu__tab main-menu__tab--history">
        <a class="nav-link" routerLink="/history">История</a>
      </li>
      <li class="nav-item">
        <a (click)="resetWizard(); $event.preventDefault();"
           tabindex="-1"
           role="button"
           id="main_menu_help"
           data-trigger="manual"
           data-container="#navbar_fixed"
           data-placement="left"
           data-content="Хорошо, о смельчак. Я в любой момент готова прийти на помощь вновь."
           class="nav-link"
           href=""><span>Помощь</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container navbar-padded">
  <div class="media header" *ngIf="profile$ | async">
    <div class="media-left">
      <div class="media-object user-avatar" [style]="profileImageStyle"></div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Хэй, {{(profile$ | async).getGivenName()}}!</h4>
      <a (click)="signOut(); $event.preventDefault();" href=""><i class="fa fa-sign-out fa-lg"></i> Выйти</a>
    </div>
  </div>

  <div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>


  <div class="management">
    <h3>Остатки</h3>
    <table class="table-remains" *ngIf="paymentMethods.length">
      <tr *ngFor="let paymentMethod of paymentMethods"><td class="td-label">{{paymentMethod.name}}</td><td class="td-number">{{(+paymentMethod.initialAmount + +paymentMethod.incomes - +paymentMethod.expenses) | number:'1.2-2' }}</td></tr>
    </table>
    <h5 *ngIf="!paymentMethods.length">У вас нет ни одного счёта. <a routerLink="/payment-methods">Добавьте счета</a>, чтобы увидеть остатки по ним.</h5>
  </div>

  <copy></copy>
</div>