.history {
  $category-width: 250px;
  $amount-width: 100px;
  $date-width: 46px;
  $actions-width: 56px;
  $actions-width-compact: 23px;
  $payment-methods-width: 140px;

  display: inline-block;
  font-family: 'Fira Mono', monospace;
  border-spacing: 0;

  &__col, &__header-col {
    position: relative;
    float: left;
  }

  &__header-col {
    font-size: 14px;
    font-weight: bold;
    color: inherit !important;
    padding: 0 5px 3px;

    &.history-row__category {
      margin-right: 0;
      left: 0;
    }

    &.history-row__payment-methods {
      margin-left: 0;
    }
  }

  &__col {
    padding: 0 5px;
    line-height: 18px;
    font-size: 12px;
    word-wrap: break-word;
  }

  @media(max-width: 766px) {

    &__category {
      left: 0;
      width: auto;
      float: none;
      clear: left;
      font-size: 11px;
      color: #808080;
      margin-right: $actions-width-compact;
    }

    .history-row__payment-methods {
      width: calc(100% - #{$amount-width} - #{$date-width} - #{$actions-width-compact});
    }

    &__row {
      margin-bottom: 5px;
      padding-bottom: 6px;
      box-shadow: inset 0 5px 0 5px #fff, inset 0 -1px 0 0 #dfdfdf;
    }

    &__row.highlighted {
      box-shadow: none;

      .history-row__actions {
        .fa-pencil {
          margin-top: 25px;
          margin-bottom: -25px;
        }

        .fa-close {
          margin-left: 0;
          margin-top: -15px;
        }
      }
    }

    .history-row--highlighted + .history-row--highlighted {
      margin-top: -5px;
      padding-top: 7px;
    }

    &__header-col.history-row__category {
      display: none;
    }

    .history-row__payment-methods {
      margin-left: 0;
    }

    .history-row__actions {
      width: $actions-width-compact;

      .fa-pencil {
        position: absolute;
        margin-top: 22px;
      }

      .fa-close {
        margin-left: 0;
        margin-top: -18px;
      }
    }
  }
}

.history-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  &__datetimerange {
    flex: 1 1 auto;
    max-width: 280px;
  }

  &__search {
    flex: 0 0 auto;
  }
}
