<div class="panel panel-default" *ngIf="isHintVisible()">
  <div class="panel-heading">
    <h3>История</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Здесь выводится история всех денежных операций по&nbsp;месяцам, начиная с&nbsp;самой поздней.</p>
      <p>Доходы отмечены зелёным цветом, расходы&nbsp;&mdash; красным. Денежные переводы выделены светло-серым. На&nbsp;верхней строке&nbsp;&mdash; приход на&nbsp;целевой счёт, на&nbsp;нижней&nbsp;&mdash; списание с&nbsp;исходного счёта.</p>
      <p>Отредактируйте запись, нажав на&nbsp;иконку <i class="fa fa-pencil"></i>. После сохранения вы&nbsp;вернётесь к&nbsp;обновлённой истории.</p>
      <p>Чтобы удалить запись, дважды кликните по&nbsp;иконке <i class="fa fa-lg fa-close"></i>.</p>
      <p>На&nbsp;этой странице заканчивается наша экскурсия по&nbsp;системе. Вы&nbsp;всегда сможете повторить&nbsp;её, нажав на&nbsp;иконку с&nbsp;вопросительным знаком в&nbsp;главном меню справа.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span class="m-l-xs"><button class="btn m-b-sm btn-primary" (click)="close()" [disabled]="isWizardLoading" [ladda]="isWizardCloseLoading">Я освоился, спасибо!</button></span>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="history-navigation" *ngIf="fullHistorySize">
    <datetimerange class="history-navigation__datetimerange"
                   [fromDate]="fromDate"
                   [toDate]="toDate"
                   (fromDateChange)="fromDate = $event; goToRange()"
                   (toDateChange)="toDate = $event; goToRange()"></datetimerange>

    <input [value] = "search" class="form-control form-control--sm history-navigation__search" (change)="search = $event.target.value">
  </div>

  <h5 *ngIf="!history.length">
    <span *ngIf="!fullHistorySize">
    Вы не записали ни одной транзакции. Запишите <a [routerLink]="'/operations/income'">доход</a>, <a [routerLink]="'/operations/expense'">трату</a>
    или <a [routerLink]="'/operations/transfer'">перевод</a>, чтобы увидеть историю платежей.
    </span>
    <span *ngIf="fullHistorySize">
      Таких транзакций не найдено. <span *ngIf="!search">Пожалуйста, выберите другой диапазон дат.</span><span *ngIf="search">Попробуйте другой поисковой запрос.</span>
    </span>
  </h5>

  <div *ngIf="history.length" class="history text-left">
    <div class="history__header history__row history-row">
      <div class="history__header-col history-row__date">Дата</div>
      <div class="history__header-col history-row__amounts">Сумма</div>
      <div class="history__header-col history-row__amounts history-row__balances">Остаток</div>
      <div class="history__header-col history-row__category">Категория (комментарий)</div>
      <div class="history__header-col history-row__payment-methods">Счёт</div>
    </div>

    <div infiniteScroll (scrolled)="loadHistory()">
      <ng-container *ngFor="let record of displayedHistory; let i = index">
        <div class="history-row history-row--date history-row--year"
             *ngIf="i == 0 || displayedHistory[i - 1].createdAtYear !== record.createdAtYear">
          <div class="history__col history-row__date history-row__year">
            <span>{{record.createdAtYear}}</span>
          </div>
        </div>

        <div class="history-row history-row--date"
             *ngIf="i == 0 || displayedHistory[i - 1].createdAtDate !== record.createdAtDate">
          <div class="history__col history-row__date">
            <span>{{record.createdAtDate}}</span>
          </div>
        </div>

        <history-row [record]="record" [search]="search" (remove)="removeTransaction($event)"></history-row>
      </ng-container>
    </div>
  </div>
</div>