.history {
  $category-width: 250px;
  $amount-width: 100px;
  $date-width: 46px;
  $actions-width: 56px;
  $actions-width-compact: 23px;
  $payment-methods-width: 140px;

  display: inline-block;
  font-family: 'Fira Mono', monospace;
  border-spacing: 0;

  &__col, &__header-col {
    position: relative;
    float: left;
  }

  &__header-col {
    font-size: 14px;
    font-weight: bold;
    color: inherit !important;
    padding: 0 5px 3px;

    &.history-row__category {
      margin-right: 0;
      left: 0;
    }

    &.history-row__payment-methods {
      margin-left: 0;
    }
  }

  &__col {
    padding: 0 5px;
    line-height: 18px;
    font-size: 12px;
    word-wrap: break-word;
  }
}

.history-navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  &__datetimerange {
    flex: 1 1 auto;
    max-width: 280px;
  }

  &__search {
    flex: 0 0 auto;
  }
}
