<div class="panel panel-default" *ngIf="isHintVisible()">
  <div class="panel-heading">
    <h3>История</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Здесь выводится история всех денежных операций по&nbsp;месяцам, начиная с&nbsp;самой поздней.</p>
      <p>Доходы отмечены зелёным цветом, расходы&nbsp;&mdash; красным. Денежные переводы выделены светло-серым. На&nbsp;верхней строке&nbsp;&mdash; приход на&nbsp;целевой счёт, на&nbsp;нижней&nbsp;&mdash; списание с&nbsp;исходного счёта.</p>
      <p>Отредактируйте запись, нажав на&nbsp;иконку <i class="fa fa-pencil"></i>. После сохранения вы&nbsp;вернётесь к&nbsp;обновлённой истории.</p>
      <p>Чтобы удалить запись, дважды кликните по&nbsp;иконке <i class="fa fa-lg fa-close"></i>.</p>
      <p>На&nbsp;этой странице заканчивается наша экскурсия по&nbsp;системе. Вы&nbsp;всегда сможете повторить&nbsp;её, нажав на&nbsp;иконку с&nbsp;вопросительным знаком в&nbsp;главном меню справа.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span class="m-l-xs"><button class="btn m-b-sm btn-primary" (click)="close()" [disabled]="isWizardLoading" [ladda]="isWizardCloseLoading">Я освоился, спасибо!</button></span>
    </div>
  </div>
</div>

<h5 *ngIf="!history.length">
  Вы не записали ни одной транзакции. Запишите <a [routerLink]="'/operations?type=income'">доход</a>, <a [routerLink]="'/operations?type=expense'">трату</a>
  или <a [routerLink]="'/operations?type=transfer'">перевод</a>, чтобы увидеть историю платежей.
</h5>

<div *ngIf="history.length" class="text-center">
  <div class="history-navigation" *ngIf="months.length > 1">
    <button class="btn btn-default"
            (click)="gotoPrevMonth()"
            [disabled]="isFirstMonth()">&larr;</button><!--
    --><button class="btn btn-default"
               [class.active]="month.id === currentMonth"
               (click)="gotoMonth(month)"
               *ngFor="let month of months">{{ month.name }}</button><!--
    --><button class="btn btn-default"
               (click)="gotoNextMonth()"
               [disabled]="isLastMonth()">&rarr;</button>
  </div>

  <div class="history text-left">
    <div class="history__header history__row">
      <div class="history__header-col history__date">Дата</div>
      <div class="history__header-col history__amounts">Сумма</div>
      <div class="history__header-col history__category">Категория (комментарий)</div>
      <div class="history__header-col history__payment-methods">Счёт</div>
    </div>

    <ng-container *ngFor="let record of history; let i = index">
      <div class="history__row history__row-date"
           *ngIf="i == 0 || history[i - 1].createdAtDate !== record.createdAtDate">
        <div class="history__col history__date">
          <span>{{record.createdAtDate}}</span>
        </div>
      </div>

      <div class="history__row"
           [class.highlighted]="record.type === 'transfer'">

        <div class="history__col history__action-confirm" *ngIf="record.isMarkedForRemoval">
          кликните снова
        </div>

        <div class="history__col history__actions">
          <a class="fa fa-pencil fa-lg" [routerLink]="'/operations?type=' + record.type + '&id=' + record.id"></a><!--
        --><span class="fa fa-close fa-lg"
                 [class.active]="record.isMarkedForRemoval"
                 (click)="removeTransaction(record); $event.stopPropagation();"></span>
        </div>
        <div class="history__col history__date">
          <span>{{record.createdAtFormattedCompact}}</span>
        </div>
        <div class="history__col history__amounts">
        <span class="history__amount"
              *ngFor="let amount of record.amounts"
              [class.history__amount--expense]="amount.value < 0">
          {{amount.paymentMethod.currency.symbol}}{{ (amount.value < 0 ? -amount.value : amount.value) | number:'1.2-2' }}
        </span>
        </div>
        <div class="history__col history__payment-methods"
             [class.history__payment-methods--transfer]="record.type === 'transfer'">
        <span class="history__payment-method" *ngFor="let amount of record.amounts">
          {{amount.paymentMethod.name}}
        </span>
        </div>
        <div class="history__col history__category">
          {{record.category.name}} <span class="comment" *ngIf="record.comment">({{record.comment}})</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>