<div class="panel panel-default" *ngIf="isHintVisible()">
  <div class="panel-heading">
    <h3>Категории трат</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Задайте категории своих трат. Для примера я&nbsp;выбрала пятнадцать популярных. Удалите&nbsp;те, которые не&nbsp;подходят вам, и&nbsp;добавьте&nbsp;те, которые я&nbsp;упустила.</p>
      <p>Обратите внимание, что каждой категории можно назначить цвет. Он&nbsp;будет использован при выводе графика трат категории. Если не&nbsp;указать цвет, её&nbsp;сектор будет выведен серым.</p>
      <p>Когда закончите с&nbsp;категориями, я&nbsp;провожу вас по&nbsp;настройкам счетов.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span><button class="btn m-b-sm btn-primary" (click)="nextStep()" [disabled]="isWizardLoading" [ladda]="isWizardNextStepLoading">Перейти к настройкам счетов</button></span>
      <span class="m-l-xs"><button class="btn m-b-sm btn-secondary " (click)="close()" [disabled]="isWizardLoading" [ladda]="isWizardCloseLoading">Мне больше не нужны подсказки</button></span>
    </div>
  </div>
</div>

<div class="form">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-unstyled list-form">
        <li *ngFor="let category of categories">
          <input class="form-control"
                 type="text"
                 placeholder="Название"
                 [(ngModel)]="category.name"
                 (ngModelChange)="saveCategory(category)">
          <colorpicker [(ngModel)]="category.color"
                       [disabledOptions]="selectedColors"
                       (ngModelChange)="updateSelectedColors(); saveCategory(category)">

          </colorpicker>
          <spinner [isLoaded]="isLoaded[category.id]"></spinner>
          <button class="btn-secondary btn-sm btn btn-inline" (click)="deleteCategory(category)"><i class="fa fa-lg fa-remove"></i></button>
        </li>

        <li>
          <input class="form-control" type="text" placeholder="Название" [(ngModel)]="category.name">
          <colorpicker [(ngModel)]="category.color"
                       [disabledOptions]="selectedColors"
                       (ngModelChange)="updateSelectedColors()">

          </colorpicker>
          <spinner [isLoaded]="isNewLoaded"></spinner>
          <button class="btn-primary btn-sm btn btn-inline"
                  (click)="addCategory()"
                  [disabled]="!category.name"><i class="fa fa-lg fa-plus"></i></button>
        </li>
      </ul>
    </div>

    <div class="col-sm-6">
      <div class="charts" *ngIf="hasChart()">
        <h3>Распределение за {{startOfMonth | amDateFormat:'MMMM YYYY'}}</h3>
        <div class="row">
          <div class="col-md-12" *ngFor="let item of categoriesChart">
            <h4>{{item.currency}}</h4>
            <canvas baseChart
                    height="240"
                    class="chart"
                    chartType="pie"
                    [labels]="item.chartData.labels"
                    [data]="item.chartData.data"
                    [colors]="item.chartData.colors"
                    [options]="item.chartData.options"
                    [datasets]="item.chartData.datasets"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>