<div class="panel panel-default" *ngIf="isHintVisible()">
  <div class="panel-heading">
    <h3>Счета</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Задайте счета или другие платёжные средства. Например: &laquo;наличные&raquo;, &laquo;карта сбербанка&raquo;, &laquo;отложено&raquo;, &laquo;абонемент в&nbsp;клуб&raquo;, &laquo;доллары&raquo;.</p>
      <p>На&nbsp;странице истории полностью помещаются только короткие названия, лучше всего из&nbsp;одного слова.</p>
      <p>В&nbsp;поле &laquo;вход&raquo; введите сумму на&nbsp;этом счету на&nbsp;сегодняшний день, например, &laquo;наличные долл.&raquo; и&nbsp;&laquo;500&raquo;, если у&nbsp;вас 500 долларов наличными.</p>
      <p>Для счетов тоже можно назначать цвет. Он&nbsp;будет использован при выводе графика остатков.</p>
      <p>Когда закончите со&nbsp;счетами, я&nbsp;провожу вас по&nbsp;настройкам источников доходов.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span><button class="btn m-b-sm btn-primary" (click)="nextStep()" [disabled]="loading">Перейти к настройкам доходов</button></span>
      <span class="m-l-xs"><button class="btn m-b-sm btn-default " (click)="close()" [disabled]="loading">Мне больше не нужны подсказки</button></span>
    </div>
  </div>
</div>

<div class="form">
  <ul class="list-unstyled list-form">
    <li *ngFor="let paymentMethod of paymentMethods">
      <input class="form-control"
             type="text"
             placeholder="Название"
             (ngModelChange)="saveMethod(paymentMethod)"
             [(ngModel)]="paymentMethod.name">,
      <span class="text-nowrap">
        валюта:

        <select class="form-control form-control--sm"
                [(ngModel)]="paymentMethod.currency"
                (ngModelChange)="saveMethod(paymentMethod)">
          <option *ngFor="let currency of currencies"
                  [ngValue]="currency">{{ currency.code }}</option>
        </select>
      </span>,
      <span class="text-nowrap">
        вход:
        <input class="form-control form-control--sm"
               type="number"
               placeholder="0.00"
               placeholder="вход"
               (ngModelChange)="saveMethod(paymentMethod)"
               [(ngModel)]="paymentMethod.initialAmount">
      </span>

      <colorpicker [(ngModel)]="paymentMethod.color"
                    [disabledOptions]="selectedColors"
                    (ngModelChange)="updateSelectedColors(); saveMethod(paymentMethod)">

      </colorpicker>
      <spinner [isLoaded]="isLoaded[paymentMethod.id]"></spinner>
      <button class="btn-default btn-sm btn btn-inline" (click)="deleteMethod(paymentMethod)"><i class="fa fa-lg fa-remove"></i></button>
    </li>

    <li>
      <input class="form-control" type="text" placeholder="Название" [(ngModel)]="paymentMethod.name">,
      <span class="text-nowrap">
        валюта: <select class="form-control form-control--sm"
                        [(ngModel)]="paymentMethod.currency">
        <option *ngFor="let currency of currencies"
                [ngValue]="currency">{{ currency.code }}</option>
      </select>

      </span>,
      <span class="text-nowrap">
        вход:
        <input class="form-control form-control--sm"
               type="number"
               step="0.01"
               placeholder="вход"
               [(ngModel)]="paymentMethod.initialAmount">
      </span>
      <colorpicker [(ngModel)]="paymentMethod.color"
                    [disabledOptions]="selectedColors"
                    (ngModelChange)="updateSelectedColors()">

      </colorpicker>
      <spinner [isLoaded]="isNewLoaded"></spinner>

      <div class="button-hint">
        <div class="button-hint__inner">
          <button class="btn-primary btn-sm btn btn-inline"
                  [disabled]="!paymentMethod.name || !paymentMethod.currency"
                  (click)="addMethod()">Добавить средство</button>
          <div class="button-hint__text" *ngIf="!paymentMethod.name || !paymentMethod.currency">
            Укажите
            <span *ngIf="!paymentMethod.name">название</span>
            <span *ngIf="!paymentMethod.name && !paymentMethod.currency">и</span>
            <span *ngIf="!paymentMethod.currency">валюту</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>