<div class="panel panel-default" *ngIf="isHintVisible()">
  <div class="panel-heading">
    <h3>Доходы</h3>
  </div>
  <div class="panel-body">
    <div class="m-b-md">
      <p>Этот раздел очень похож на&nbsp;предыдущий.</p>
      <p>Записывайте доходы в&nbsp;формате &laquo;Получил 2000 гривен на&nbsp;карту сбербанка за&nbsp;продажи 2016-08-06 17:25, комментарий: автокресло&raquo;.</p>
      <p>Доходы тоже выводятся на&nbsp;странице истории.</p>
      <p>Поэкспериментируйте с&nbsp;доходами, после чего рассмотрим переводы между счетами.</p>
    </div>

    <div class="button-holder m-b-n-sm">
      <span><button class="btn m-b-sm btn-primary" (click)="nextStep()" [ladda]="loading">Перейти к переводам</button></span>
      <span class="m-l-xs"><button class="btn m-b-sm btn-default " (click)="close()" [ladda]="loading">Мне больше не нужны подсказки</button></span>
    </div>
  </div>
</div>

<div class="form">
  <a class="back-link" [hidden]="!editMode" routerLink="/history">&larr; Назад к истории</a>

  <div>
    Получил <input autofocus class="form-control form-control--sm" type="number" name="amount" [(ngModel)]="income.amount" step="0.01">
    {{income.paymentMethod?.currency?.symbol}}
    <select class="form-control form-control--lg"
            name="paymentMethod"
            [(ngModel)]="income.paymentMethod">
      <option *ngFor="let paymentMethod of paymentMethods" [ngValue]="paymentMethod">{{ paymentMethod.name }}</option>
    </select>
    <span class="text-nowrap">
      от <select class="form-control form-control--lg"
                 name="category"
                 [(ngModel)]="income.incomeCategory">
      <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
    </select>
    </span>
  </div>
  <div>
    Дата: <datetime name="createdAt" [(ngModel)]="income.createdAt"></datetime>,
    комментарий: <input class="form-control"
                        name="comment"
                        [(ngModel)]="income.comment">
    <div class="button-hint button-hint--lg">
      <div class="button-hint__inner">
        <button class="btn-primary btn btn-inline"
                [disabled]="!canSave()"
                [ladda]="loading"
                (click)="save()">Записать транзакцию</button>
        <div class="button-hint__text" [hidden]="canSave()">
          Укажите {{ getRequirements() }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="charts" *ngIf="hasChart()">
  <h3>Доходы за {{this.startOfMonth | amDateFormat:'MMMM YYYY'}}</h3>
  <div class="row">
    <div class="col-md-6" *ngFor="let item of incomesChart">
      <h4>{{item.currency}}</h4>
        <canvas baseChart
                class="chart"
                chartType="bar"
                [labels]="item.chartData.labels"
                [options]="item.chartData.options"
                [data]="item.chartData.data"
                [colors]="item.chartData.colors"
                [datasets]="item.chartData.datasets"></canvas>
    </div>
  </div>
</div>